{% extends 'music/base.html' %}

{%block navtab %}
    <li class="nav-item songs">
        <a class="nav-link" href="{% url 'songs' %}"><i class="fas fa-music"></i>&nbsp; Songs</a></i></span>  
    </li>

    <li class="nav-item artists">
        <a class="nav-link active" href="{% url 'artists' %}"><i class="fas fa-user-circle"></i>&nbsp; Artists</a>
    </li>


    <li class="nav-item moods">
        <a class="nav-link" href="{% url 'moods' %}"><i class="fab fa-modx"></i>&nbsp; Moods</a>
    </li>

    <li class="nav-item favourites">
            <a class="nav-link  align-items-center" href="{% url 'favourite' %}">
            <i id="upper-icon" class="material-icons">queue_music</i>&nbsp; Favourites</a>
    </li>
{% endblock %}

{% block body %}

    <div class="text-center">
        <img class='large-logo' src="{{ artist.logo.url }}" alt="">
        <p>{{ artist.name }}</p>
    </div>    

   
    <table class="table  table-hover ">
        <tbody>
            {% for song in artist.song_set.all%}
                    <tr>
                        <td class='align-middle text-center' style="width: 10%">
                            <img src="{{ song.logo.url }}" alt="logo" class="small-logo">
                        </td>
                        <td class='align-middle' style="width: 70%">
                            <p class="song">{{ song.title }}</p>
                            <p class="artist">{{ song.artist }}</p>
                        </td>
    
                        <td class='align-middle' style="width: 5%"">
                            <a  href="{% url 'artist-songs-song' artist.id song.id %}">
                                <i class="far fa-play-circle fa-lg"></i>
                            </a>
                        </td>
    
                        {% if song in user.song_set.all %}
                            <td class='align-middle' style="width: 10%">
                                <a href="{% url 'edit'  song.id  %}"><i class="favourited fas fa-star"></i></a>
                            </td>
                        {% else %}
                            <td class='align-middle' style="width: 10%">
                                <a href="{% url 'edit'  song.id %}"><i class="fas fa-star"></i></a>
                            </td>
                        {% endif %}
                    </tr>
                
            {% endfor %}
        </tbody>
    </table> 

{% endblock %}

