{% extends 'music/base.html' %}

{%block navtab %}
    <li class="nav-item songs">
        <a class="nav-link" href="{% url 'songs' %}"><i class="fas fa-music"></i>&nbsp; Songs</a></i></span>  
    </li>

    <li class="nav-item artists">
        <a class="nav-link active" href="{% url 'artists' %}"><i class="fas fa-user-circle"></i>&nbsp; Artists</a>
    </li>


    <li class="nav-item moods">
        <a class="nav-link" href="{% url 'moods' %}"><i class="fab fa-modx"></i>&nbsp; Moods</a>
    </li>

    <li class="nav-item favourites">
            <a class="nav-link  align-items-center" href="{% url 'favourite' %}">
            <i id="upper-icon" class="material-icons">queue_music</i>&nbsp; Favourites</a>
    </li>
{% endblock %}

{% block body %}
    <div  class="d-flex flex-wrap align-content-center">
        {% for artist in artists %}
            <div class='text-center flex-item flex-fill'>
                <img  class='large-logo' src="{{ artist.logo.url }}">
                <p class='artist-name'><a class='artist-name' href="{% url 'artist-songs' artist.id %}">{{artist.name}}</a></p>
            </div>
        {% endfor %}    
    </div>
        
{% endblock %}
