{% extends 'music/base.html' %}
{%block navtab %}
    <li class="nav-item songs">
        <a class="nav-link" href="{% url 'songs' %}"><i class="fas fa-music"></i>&nbsp; Songs</a></i></span>  
    </li>

    <li class="nav-item artists">
        <a class="nav-link" href="{% url 'artists' %}"><i class="fas fa-user-circle"></i>&nbsp; Artists</a>
    </li>


    <li class="nav-item moods">
        <a class="nav-link active" href="{% url 'moods' %}"><i class="fab fa-modx"></i>&nbsp; Moods</a>
    </li>

    <li class="nav-item favourites">
            <a class="nav-link  align-items-center" href="{% url 'favourite' %}">
            <i id="upper-icon" class="material-icons">queue_music</i>&nbsp; Favourites</a>
    </li>
{% endblock %}
{% block body %}


<div class="container-fluid song-play">

    <div class='row h-100 justify-content-center'>
        <div class="song-thumb col-xs-6 my-auto">
            <img class='song-logo' src="{{ song.logo.url }}" alt="">
        </div>

        <div class="song-thumb pad col-xs-6 my-auto">
            <p>{{ song.title }}</p>
            <p>{{ song.artist }}</p>
        </div>
        
        <audio id="main-audio" src="{{ song.audio.url }}"></audio>
    </div>

    <div class="row justify-content-center">
        <div class='progress-area'>
            <div class="progress-bar">
                <audio id="main-audio" src="{{ song.audio.url }}"></audio>
            </div>
        </div>
        
    </div>

    
    <div class="row song-timer justify-content-center">
        <div class="col-xs-6">
            <p class="current-time">0:00</p>
        </div>
        
        <div class="col-xs-6">
            <p class="max-duration">0:00</p>
        </div>
    </div>
    

    <div class='row h-100 justify-content-center'>
        <i onclick="previous()" id="prev" class="material-icons">skip_previous</i>
        <div class="col-xs-12 my-auto play-pause">
            <i class="material-icons play ">play_arrow</i>  
        </div>
        <i onclick="next()" id="next" class="material-icons">skip_next</i>  
        <i id='sticky-note' onclick='note()'class="fas fa-sticky-note"></i>
    </div>

</div>

<div class="container-fluid note">
    <br>
    <div class='row  justify-content-center'>
            <textarea id="note-text" name="note" rows="6" cols="40"></textarea>   
    </div>

    
    <div class='row  justify-content-center'>
        <button onclick='song()' type="submit" class="btn btn-success">Note</button>
    </div>
    
</div>

<table class="table  table-hover ">
    <tbody>
        {% for song in mood.song_set.all%}
                <tr>
                    <td class='align-middle text-center' style="width: 10%">
                        <img src="{{ song.logo.url }}" alt="logo" class="small-logo">
                    </td>
                    <td class='align-middle' style="width: 70%">
                        <p class="song">{{ song.title }}</p>
                        <p class="artist">{{ song.artist }}</p>
                    </td>

                    <td class='align-middle' style="width: 5%">
                        <a  href="{% url 'mood-songs-song' mood.id song.id %}">
                            <i class="far fa-play-circle fa-lg"></i>
                        </a>
                    </td>

                    {% if song in user.song_set.all %}
                        <td class='align-middle' style="width: 10%">
                            <a href="{% url 'edit'  song.id  %}"><i class="favourited fas fa-star"></i></a>
                        </td>
                    {% else %}
                        <td class='align-middle' style="width: 10%">
                            <a href="{% url 'edit'  song.id %}"><i class="fas fa-star"></i></a>
                        </td>
                    {% endif %}
                </tr>
            
        {% endfor %}
    </tbody>
</table> 

<script>
    
    mainAudio = document.querySelector("#main-audio");
    mainAudio.addEventListener("ended", ()=>{
        console.log('End');
        window.open('http://127.0.0.1:8000/moods/next/{{mood.id}}/{{song.id}}',"_self")
    
    });

    
    function next(){
        console.log('Next');
        window.open('http://127.0.0.1:8000/moods/next/{{mood.id}}/{{song.id}}',"_self")
    }

    function previous(){
        console.log('Previous');
        window.open('http://127.0.0.1:8000/moods/prev/{{mood.id}}/{{song.id}}',"_self")
    }

    function note(){
        sticky_note = document.querySelector('.note');
        sticky_note.style.visibility = 'visible';
    }

    function song(){
        sticky_note = document.querySelector('.note');
        sticky_note.style.visibility= 'hidden';
    }
    
</script>

{% endblock %}