{% extends 'music/base.html' %}

{% block body %}

<p>Moods</p>

    

<table class="table  table-hover ">
    <tbody>
        {% for mood in moods %} 
            <tr>
               
                <td class='align-middle text-center' style="width: 10%">
                    
                </td>
                <td class='align-middle' style="width: 50%"">
                    <a href="{% url 'mood-songs' mood.id %}">{{ mood.mood }}</a>
                </td>
                <td class='align-middle' style="width: 10%"">
                    <a target="_blank" href="{{ song.audio.url }}">
                        <button type="button" class="btn btn-success btn-xs">
                            Play
                        </button>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>

{% endblock %}