{% extends 'layout.html' %}

{% block main %}
     <div class="container-lg">
         <div id="form-wrapper" class="row align-items-center justify-content-center">
            <form id="my-form" method="POST" class="col-md-5 col-xl-4">
                {% csrf_token %}
                <div class="form-group">
                    <label >Username</label>
                    {{ form.username }}
                    {{ form.username.errors }}
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <div class="input-group password-wrapper">
                        {{ form.password }}
                        <span class="input-group-text"><i class="far fa-eye-slash" id="togglePassword" style="cursor: pointer"></i></span>
                    </div>
                    {{ form.password.errors }}
                </div>
                 <div class="form-group">
                     {{ form.non_field_errors }}
                 </div>

                <div class="form-group">
                    <button id="my-btn" class="btn form-control" type="submit">Login</button>
                </div>
                <div class="row align-items-center justify-content-center">
                    <div class="col d-flex justify-content-center">
                        <small class="text-muted">
                            Need  An Account? <a class="ml-2" href="{% url 'accounts:register' %}">Sign Up Now</a>
                        </small>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}
