{% extends 'layout.html' %}
{% load static %}

{% block main %}
    <div class="container-lg">
        <div class="row align-items-center my-3">
            <div class="col col-md-3">
                <img id="profile-large" src="{{ profile_user.profile_picture.url }}" alt="image">
            </div>
            <div class="col col-md-4">
                <div class="row">
                    <div class="col">
                        <h5 id="user-fullname">{{ profile_user.get_full_name }}</h5>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        {% if profile_user.authentic %}
                            <i class="fas fa-check-circle"></i>
                        {% endif %}

                        <span id="username">{{ profile_user.username }}</span>
                    </div>
                </div>

                <div class="row" style="margin-top:20px;">
                    <div class="col">
                        <p>Followers: <span id="follower_counts">{{follower_counts}}</span></p>
                    </div>
                    <div class="col">
                         <p>Following: <span id="following_counts">{{ following_counts }}</span> </p>
                    </div>
                </div>

                <div class="row">
                    {% if follow_button_visibility %}
                        <div class="col">
                            <button id="follow-button" class="btn">{{ status }}</button>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>


        <ul class="nav nav-tabs my-4">
            <li class="nav-item">
                <a id="uploaded-btn" class="nav-link active" aria-current="page" href="#">Uploaded</a>
            </li>
            <li class="nav-item">
                <a id="favourite-btn" class="nav-link" href="#">Favourite</a>
            </li>
        </ul>

        <table id="uploaded-songs" class="table  table-hover ">
            <tbody class="songs-wrapper">

                {% for song in uploaded_songs %}
                    <tr class="song-wrapper" data-id="{{ song.id }}">
                        <td class='align-middle text-center' style="width: 10%">
                            <img src="{{ song.banner.url }}" alt="logo" class="song-thumbnail">
                        </td>

                        <td class='align-middle' style="width: 70%">
                            <p class="song">{{ song.title }}</p>
                            {% if song.owner.authentic %}
                                <i class="fas fa-check-circle"></i>
                            {% endif %}
                            <a href="{% url 'accounts:profile'  song.owner.username  %}">{{ song.owner }}</a>
                        </td>

                        <td class='align-middle' style="width: 5%">
                            <a href="{% url 'songs:song_detail'  song.id  %}"><i class="far fa-play-circle fa-lg"></i></a>
                        </td>


                        {% with favourite_songs=user.favourite_songs.all %}
                            {% if song in favourite_songs %}
                            <td class='align-middle' style="width: 10%">
                                <span><i class="favourite fa fa-heart"></i></span>
                            </td>
                            {% else %}
                            <td class='align-middle' style="width: 10%">
                                <span><i class="unfavourite fa fa-heart"></i></span>
                            </td>
                            {% endif %}
                        {% endwith %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <table id="favourite-songs" class="table  table-hover ">
            <tbody class="songs-wrapper">

                {% for song in favourite_songs %}
                    <tr class="song-wrapper" data-id="{{ song.id }}">
                        
                        <td class='align-middle text-center' style="width: 10%">
                            <img src="{{ song.banner.url }}" alt="logo" class="song-thumbnail">
                        </td>

                        <td class='align-middle' style="width: 70%">
                            <p class="song">{{ song.title }}</p>
                            <a href="{% url 'accounts:profile'  song.owner.username  %}">{{ song.owner }}</a>
                        </td>

                        <td class='align-middle' style="width: 5%">
                            <a href="{% url 'songs:song_detail'  song.id  %}"><i class="far fa-play-circle fa-lg"></i></a>
                        </td>

                        {% with favourite_songs=user.favourite_songs.all %}
                            {% if song in user.favourite_songs.all %}
                            <td class='align-middle' style="width: 10%">
                                <span><i class="favourite far fa-heart"></i></span>
                            </td>
                            {% else %}
                            <td class='align-middle' style="width: 10%">
                                <span><i class="far fa-heart"></i></span>
                            </td>
                            {% endif %}
                        {% endwith %}

                    </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>

{% endblock %}

<!-- js files-->
{% block js_files %}
    {{ block.super }}
    <script src="{% static 'js/profile.js' %}"></script>
{% endblock %}