#profile-thumbnail {
    width: 30px;
    height: 30px;
    border-radius: 15px;
}

#prev,
#play-pause,
#next
{
    cursor: pointer;
    font-size: 30px;

}

#sticky-note{
    cursor: pointer;
    margin-top: 3px;
    font-size: 20px;
}

#profile-large {
    width: 150px;
    height: 150px;
    border-radius: 100px;

}

.logo{
    width: 80px;
    height: 45px;
    background-color: inherit;
    padding: 0px;
    margin: 0px;
}

.favourite{
    color: red;

}

.unfavourite{
    color: black;
}


.song-thumbnail {
    width: 50px;
    height: 50px;
    border-radius: 15px;
}

.song-progress-area,
.song-timer{
    width: 100%;
}

.song-progress-area {
    background-color:  #f0f0f0;
    border-radius: 20px;
    margin-top: 20px;
    cursor: pointer;

}

.song-progress-bar {
    height: 7px;
    width: 0%;
    background-color: black;
    border-radius: inherit;

}


