{% extends 'layout.html' %}

{% block main %}
    <div class="container-lg">
        <div class="row align-items-center justify-content-center">
            <div class="col d-flex justify-content-center">
                <form id="my-form" method="POST" enctype="multipart/form-data" class="col-md-5 col-xl-4">
                    {% csrf_token %}

                    <fieldset class="form-group">
                        <legend>Edit Song</legend>
                        <div class="form-group">
                            <label>Title</label>
                            {{ form.title }}
                            {{ form.title.errors }}
                        </div>
                        <div class="form-group">
                            <label>Banner</label>
                            {{ form.banner }}
                            {{ form.banner.errors }}
                        </div>
                        <div class="form-group">
                            <label>Audio File</label>
                            {{ form.audio_file }}
                            {{ form.audio_file.errors }}
                        </div>
                        <div class="form-group">
                            <label>Mood</label>
                            {{ form.mood }}
                            {{ form.mood.errors }}
                        </div>
                        <div class="form-group">
                            <label>Genre</label>
                            {{ form.genre }}
                            {{ form.genre.errors }}
                        </div>
                         <div class="form-group">
                             {{ form.non_field_errors }}
                         </div>
                    </fieldset>
                    <div class="form-group">
                        <button id="my-btn" class="btn form-control" type="submit">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}