{% extends 'layout.html' %}

{% block main %}
    <table class="table  table-hover ">
        <tbody>
            {% for song in songs%}
                    <tr>
                        <td class='align-middle text-center' style="width: 10%">
                            <img src="{{ song.banner.url }}" alt="logo" class="song-thumbnail">
                        </td>

                        <td class='align-middle' style="width: 70%">
                            <p class="song">{{ song.title }}</p>
                            <a href="{% url 'accounts:profile'  song.owner.username  %}">{{ song.owner }}</a>
                        </td>

                        <td class='align-middle' style="width: 5%">
                            <a href="{% url 'songs:song_detail'  song.id  %}"><i class="far fa-play-circle fa-lg"></i></a>
                        </td>



                        {% if song in user.favourite_songs.all %}
                           <td class='align-middle' style="width: 10%">
                               <a href="{% url 'songs:song_like'  song.pk %}"><i class="favourite far fa-heart"></i></a>
                           </td>
                        {% else %}
                           <td class='align-middle' style="width: 10%">
                               <a href="{% url 'songs:song_like'  song.pk %}"><i class="far fa-heart"></i></a>
                          </td>
                        {% endif %}


                    </tr>

            {% endfor %}
        </tbody>
    </table>
{% endblock %}