{% extends 'layout.html' %}
{% load static %}

{% block main %}
    <div class="container-lg song-detail-wrapper" data-id="{{ song.id }}">
        <div class="row align-items-center justify-content-center my-4">

            <div class="col col-md-3 d-flex justify-content-center">
                <img id="profile-large" src="{{ song.banner.url }}" alt="image">
            </div>

            <div class="col col-md-4">
                <div class="row">
                    <div class="col">
                        <h5>{{ song.title }}</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {% if song.owner.authentic %}
                                <i class="fas fa-check-circle"></i>
                        {% endif %}

                        <a href="{% url 'accounts:profile'  song.owner.username  %}">{{ song.owner }}</a>

                        {% if song.owner == request.user %}
                            <div class="mt-3">
                                <form method="POST" action="{% url 'songs:delete' song.id %}">
                                    {% csrf_token %}
                                    <a href="{% url 'songs:edit' song.id %}" class="me-5"><i class="fas fa-edit my-edit-button"></i></a>
                                    <button type="submit" class="my-delete-button">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </form>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class="row align-items-center justify-content-center my-3">
            <div class="col col-md-5 d-flex justify-content-center">
                <div class="song-progress-area">
                    <div class="song-progress-bar">
                        <audio id="main-audio" src="{{ song.audio_file.url }}" autoplay></audio>
                    </div>
                </div>
            </div>
        </div>

        <div class="row align-items-center justify-content-center my-3">
            <div class="col col-md-5 d-flex justify-content-center">
                <div class="song-timer d-flex justify-content-between">
                    <span class="current-time">0:00</span>
                    <span class="max-duration">0:00</span>
                </div>
            </div>
        </div>

        <div class="row align-items-center justify-content-center my-3">
            <div class="col col-md-5 d-flex justify-content-between">
                <i onclick='previous()' id="prev" class="material-icons">skip_previous</i>
                <div class="my-auto play-pause paused">
                    <i id="play-pause" class="material-icons" >pause</i>
                </div>
                <i onclick='next()' id="next" class="material-icons">skip_next</i>

                {% with favouirte_songs=user.favourite_songs.all %} 
                    {% if song in favouirte_songs %}
                        <i class="favourite fa fa-heart"></i>
                    {% else %}
                        <i class="unfavourite fa fa-heart"></i>
                    {% endif %}
                {% endwith %}
            </div>
        </div>

        <div class="row align-items-center justify-content-center mt-5">
            <div class="col col-12 col-md-6">
                <h5>Comments</h5>

                {% if user.is_authenticated %}

                    <form class="row">
                        <div class="col col-12">
                            <div id="comment-box" autofocus contenteditable></div>
                        </div>
                        <div class="col-auto ms-auto">
                            <button id="comment-btn" class="btn" type="button" name="comment">Comment</button>
                        </div>
                    </form>

                {% else %}
                    <p>Please <a href="{% url 'accounts:login' %}">login</a> to comment.</p>
                {% endif %}
            </div>
        </div>

        <div class="row align-items-center justify-content-center my-3">
            <div id="comment-list" class="col col-12 col-md-6">
                {% for comment in comments %}
                    <div class="comment" data-id="{{ comment.id }}">
                        <div class="comment-box row align-items-center">
                              <div class="col col-1">
                                  <img class="profile-thumbnail" src="{{ comment.owner.profile_picture.url }}" alt="image">
                              </div>
                              <div class="col col-11">
                                  {% if song.owner.authentic %}
                                    <i class="fas fa-check-circle"></i>
                                  {% endif %}
                                  <a href="{% url 'accounts:profile'  comment.owner  %}">{{ comment.owner }}</a>

                                  <p class="comment-date" style="margin-top: 0px;margin-bottom: 0px">{{ comment.created_on }}</p>
                              </div>
                        </div>
                        <div class="row align-items-center justify-content-end">
                            <div class="comment-text-box col col-11">
                              {{ comment.text|safe }}
                            </div>
                        </div>
                        {% if comment.owner == request.user %}
                            <div class="row mt-2 comment-action">
                                <div class="col-auto ms-auto">
                                    <button class="comment-edit-button">
                                        <i class="fas fa-edit"></i>
                                    </button>
                                </div>
                                <div class="col-auto">
                                    <button class="comment-delete-button">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </div>
                                <div class="col-auto">
                                    <button id="comment-update-btn" class="btn" type="button">Save</button>
                                </div>
                            </div>
                        {% endif %}
                        <br>
                    </div>

                {% empty %}
                    No comments yet!
                {% endfor %}
            </div>
        </div>
    </div>

    <script>
        let mainAudio = document.querySelector("#main-audio");

        let domain = 'http://127.0.0.1:8000/';  // change your domain

        mainAudio.addEventListener("ended", ()=>{
            // console.log('End');
            next();
        });

        function next(){
            console.log('Next');
            // console.log({{ next_song.id }})
            window.open(domain + 'songs/{{ next_song.id }}/?{{ query_string }}', "_self")
        }

        function previous(){
            console.log('Previous');
            window.open(domain + 'songs/{{ previous_song.id }}/?{{ query_string }}', "_self")
        }
    </script>
{% endblock %}


<!-- js files -->
{% block js_files %}
    {{ block.super }}
    <script src="{% static 'js/song-detail.js' %}"></script>
{% endblock %}