{% extends 'layout.html' %}
{% load crispy_forms_tags %}

{% block main %}
    <div class="container-lg">
        <div class="row align-items-center justify-content-center">
            <div class="col d-flex justify-content-center">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">Upload Song</legend>
                        {{ form|crispy }}
                    </fieldset>
                    <div class="form-group">
                        <button id="my-btn" class="btn" type="submit">Post</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}